<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="id.sch.smktelkom_mlg.project.xirpl606152433.belajarjawa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home"/>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AksaraJawaMainActivity"/>
        <activity android:name=".TembangMainActivity"/>
        <activity android:name=".KewanMainActivity"/>
        <activity android:name=".KodokActivity"/>
        <activity android:name=".LirActivity"/>
        <activity android:name=".MenthokActivity"/>
        <activity android:name=".SlukuActivity"/>
        <activity android:name=".HaActivity"/>
        <activity android:name=".NaActivity"/>
        <activity android:name=".CaActivity"/>
        <activity android:name=".RaActivity"/>
        <activity android:name=".KaActivity"/>
        <activity android:name=".DaActivity"/>
        <activity android:name=".TaActivity"/>
        <activity android:name=".SaActivity"/>
        <activity android:name=".WaActivity"/>
        <activity android:name=".LaActivity"/>
        <activity android:name=".PaActivity"/>
        <activity android:name=".DhaActivity"/>
        <activity android:name=".JaActivity"/>
        <activity android:name=".YaActivity"/>
        <activity android:name=".NyaActivity"/>
        <activity android:name=".MaActivity"/>
        <activity android:name=".GaActivity"/>
        <activity android:name=".BaActivity"/>
        <activity android:name=".ThaActivity"/>
        <activity android:name=".NgaActivity"/>
        <activity android:name=".GajahActivity">
        </activity>
        <activity android:name=".KambingActivity">
        </activity>
        <activity android:name=".SapiActivity">
        </activity>
    </application>

</manifest>